extends layout
- var title = 'AMAMB - Questao'
block content
	ul	
		p Acertos: #{acertos}
		p Quanto e #{num1} #{q1} #{num2} #{q2} #{num3} #{q3} #{num4} ?
		form(method="POST", action="/solve/teste")
			input(type='text', name='resposta', placeholder='Resposta')
			br
			br
			input(type='submit')
end block