doctype html
html(lang='pt')
	head
		meta(charset='utf-8')
		meta(name='viewport',content='width=device-width, initial-scale=1, maximum-scale=1')
		title= title
		link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
		link(href='/static/style.css', rel='stylesheet')
		block script
	body
		div(id="top-bar-wrapper")
			div.container-fluid(id="top-bar")
				div.col-xs-5
					a(href=url_for('index'))
						img(src="/static/amamb-logo.png",height="60")
				div.col-xs-7
					div.pull-right.text-right
						if username
							div.col-xs-7.user-name
								small Prof.
									strong #{username}
							div.col-xs-4
								a.btn.btn-lg.btn-default(href=url_for('logout')) Sair
		div.container-fluid(id="main-container")
			div.container(id="content-container")
				block content
		div.container-fluid(id="footer")
			div.text-center
				small.block-center.
					© AMAMB 2016
			div.text-center
				small.block-center
					a(href=url_for('creditos')) Créditos
